/.ipynb_checkpoints
/.~lock.HPE_Machine_Learning_Hackathon_CG_2022 (copy).pptx#
/Complete Dataset
/Complete-Dataset.zip
/HPE_Machine_Learning_Hackathon_CG_2022 (copy).pptx
/HPE_Machine_Learning_Hackathon_CG_2022.pptx
/submission.zip